body {
  background-color: white;
  min-height: 100vh;
  color: black;
  //font-family: 'Roboto Mono', monospace;
  font-family: 'Source Code Pro', monospace;
}

nav {
  color: inherit;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.jumbotron {
  background-color: black;
  color: white;
}